{"openapi":"3.1.0","info":{"title":"Woo API","version":"1.0.6","description":"Woo-register met TOOI-informatiecategorie\u00ebn","contact":{"name":"OpenRegister Development Team","url":"https:\/\/www.openregister.app","email":"info@conduction.nl"},"license":{"name":"EUPL-1.2","url":"https:\/\/joinup.ec.europa.eu\/collection\/eupl\/eupl-text-eupl-12"}},"servers":[{"url":"https:\/\/canary.accept.commonground.nu\/apps\/openregister\/api","description":"OpenRegister API Server"}],"tags":[{"name":"Vergaderstukken decentrale overheden  ","description":"Vergaderstukken en verslagen van diverse decentrale overheden en hun commissies."},{"name":"Subsidieverplichtingen anders dan met beschikking","description":"Subsidieverplichtingen die niet via een beschikking lopen, specifiek bij Ministerie van Binnenlandse Zaken. "},{"name":"Overige besluiten van algemene strekking","description":"Overige besluiten van algemene strekking. "},{"name":"Organisatie en werkwijze","description":"Informatie over de organisatie en werkwijze van bestuursorganen."},{"name":"Ontwerpen van wet- en regelgeving met adviesaanvraag","description":"Ontwerpen van wetgeving waarover extern advies is gevraagd, inclusief de adviesaanvraag."},{"name":"Onderzoeksrapporten","description":"Onderzoeksrapporten opgesteld op verzoek van bestuursorganen die geen taakuitvoering zijn, gericht op organisatie of beleidsevaluatie."},{"name":"Klachtoordelen","description":"Schriftelijke oordelen in klachtprocedures."},{"name":"Wetten en algemeen verbindende voorschriften","description":"Wetten en andere algemeen verbindende voorschriften. "},{"name":"Woo-verzoeken en -besluiten","description":"Inhoud van schriftelijke Woo-verzoeken en besluiten daarop, inclusief verstrekte informatie."},{"name":"Vergaderstukken Staten-Generaal","description":"Vergaderstukken en verslagen van de Staten-Generaal, uitgezonderd vertrouwelijke informatie verstrekt aan de Staten-Generaal.  "},{"name":"Convenanten","description":""},{"name":"Agenda's en besluitenlijsten bestuurscolleges","description":"Agenda's en besluitenlijsten van vergaderingen van bestuurscolleges."},{"name":"Adviezen","description":"Adviezen gegeven aan bestuursorganen, met vermelding van opdrachtgever en taakonderdeel."},{"name":"Bereikbaarheidsgegevens","description":""},{"name":"Beschikkingen","description":""},{"name":"Bij vertegenwoordigende organen ingekomen stukken\t","description":""},{"name":"Jaarplan of jaarverslag","description":""}],"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic","description":"Basic authentication using username and password. Not recommended for production use."},"oauth2":{"type":"oauth2","description":"OAuth2 authentication using Nextcloud's authentication server. Scopes correspond to Nextcloud group memberships. Each schema defines which groups may create, read, update, or delete its objects. Admin users and object owners always have full access regardless of scopes.","flows":{"authorizationCode":{"authorizationUrl":"\/apps\/oauth2\/authorize","tokenUrl":"\/apps\/oauth2\/api\/v1\/token","refreshUrl":"\/apps\/oauth2\/api\/v1\/token","scopes":{"public":"Public (unauthenticated) access","Test WOO-verzoek":"Access for Test WOO-verzoek group","Test Convenant":"Access for Test Convenant group","admin":"Full administrative access"}}}}},"schemas":{"Error":{"type":"object","properties":{"error":{"type":"string","description":"Error message describing what went wrong","example":"Object not found"},"code":{"type":"integer","description":"HTTP status code","example":404}},"required":["error"]},"PaginatedResponse":{"type":"object","properties":{"results":{"type":"array","description":"Array of result objects","items":{"type":"object"}},"total":{"type":"integer","description":"Total number of items available","example":100},"page":{"type":"integer","description":"Current page number","example":1},"pages":{"type":"integer","description":"Total number of pages","example":10},"limit":{"type":"integer","description":"Number of items per page","example":20},"offset":{"type":"integer","description":"Number of items skipped","example":0}}},"_self":{"type":"object","description":"Object metadata including timestamps, ownership, and system information","properties":{"id":{"type":"integer","description":"Unique identifier for the object","example":123},"uuid":{"type":"string","format":"uuid","description":"Unique universal identifier for globally unique object identification","example":"123e4567-e89b-12d3-a456-426614174000"},"uri":{"type":"string","description":"Uniform Resource Identifier for unique addressable location","example":"\/api\/objects\/123e4567-e89b-12d3-a456-426614174000"},"version":{"type":"string","description":"Semantic version number to track object versions","example":"1.0"},"register":{"type":"integer","description":"Register identifier for object categorization\/grouping","example":123},"schema":{"type":"integer","description":"Schema identifier for data validation reference","example":123},"owner":{"type":"string","description":"Nextcloud user identifier for object ownership","example":"user-12345"},"updated":{"type":"string","format":"date-time","description":"Last modification timestamp for change tracking","example":"2023-05-20T10:15:00Z"},"created":{"type":"string","format":"date-time","description":"Creation timestamp for lifecycle management","example":"2023-02-15T14:30:00Z"}}},"Vergaderstukken_decentrale_overheden":{"type":"object","x-tags":["Vergaderstukken decentrale overheden  "],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"},"Categorie":{"type":"string","format":"","description":"","const":"Vergaderstukken decentrale overheden","title":"Categorie"}}},"Subsidieverplichtingen_anders_dan_met_beschikking":{"type":"object","x-tags":["Subsidieverplichtingen anders dan met beschikking"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"},"Categorie":{"type":"string","format":"text","description":"","const":"Subsidieverplichtingen anders dan met beschikking","title":"Categorie"}}},"Overige_besluiten_van_algemene_strekking":{"type":"object","x-tags":["Overige besluiten van algemene strekking"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Overige besluiten van algemene strekking","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Organisatie_en_werkwijze":{"type":"object","x-tags":["Organisatie en werkwijze"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Organisatie en werkwijze","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Ontwerpen_van_wet-_en_regelgeving_met_adviesaanvraag":{"type":"object","x-tags":["Ontwerpen van wet- en regelgeving met adviesaanvraag"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Ontwerpen van wet- en regelgeving met adviesaanvraag","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Onderzoeksrapporten":{"type":"object","x-tags":["Onderzoeksrapporten"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Onderzoeksrapporten","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Klachtoordelen":{"type":"object","x-tags":["Klachtoordelen"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Klachtoordelen","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Wetten_en_algemeen_verbindende_voorschriften":{"type":"object","x-tags":["Wetten en algemeen verbindende voorschriften"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Wetten en algemeen verbindende voorschriften","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Woo-verzoeken_en_-besluiten":{"type":"object","x-tags":["Woo-verzoeken en -besluiten"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Woo-verzoeken en -besluiten","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Vergaderstukken_Staten-Generaal":{"type":"object","x-tags":["Vergaderstukken Staten-Generaal"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Vergaderstukken Staten-Generaal","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Convenanten":{"type":"object","x-tags":["Convenanten"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Convenanten","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Agenda_s_en_besluitenlijsten_bestuurscolleges":{"type":"object","x-tags":["Agenda's en besluitenlijsten bestuurscolleges"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Agenda's en besluitenlijsten bestuurscolleges","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Adviezen":{"type":"object","x-tags":["Adviezen"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Adviezen","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Bereikbaarheidsgegevens":{"type":"object","x-tags":["Bereikbaarheidsgegevens"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Bereikbaarheidsgegevens","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Beschikkingen":{"type":"object","x-tags":["Beschikkingen"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Beschikkingen","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Bij_vertegenwoordigende_organen_ingekomen_stukken":{"type":"object","x-tags":["Bij vertegenwoordigende organen ingekomen stukken\t"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Bij vertegenwoordigende organen ingekomen stukken\t","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}},"Jaarplan_of_jaarverslag":{"type":"object","x-tags":["Jaarplan of jaarverslag"],"properties":{"_self":{"$ref":"#\/components\/schemas\/_self","readOnly":true,"description":"Object metadata including timestamps, ownership, and system information"},"id":{"type":"string","format":"uuid","readOnly":true,"example":"123e4567-e89b-12d3-a456-426614174000","description":"The unique identifier for the object."},"attachments":{"type":"array","format":"","description":"Property for temporary stroing of attachment data ","example":"","default":"","pattern":"","items":{"type":"object","description":"Property value"},"title":"Attachments"},"beschrijving":{"type":"string","title":"Beschrijving","description":"Property value"},"besluitdatum":{"type":"string","format":"date","title":"Besluitdatum","description":"Property value"},"bevindingen":{"type":"string","title":"Bevindingen","description":"Property value"},"categorie":{"type":"string","format":"text","const":"Jaarplan of jaarverslag","title":"Categorie","description":"Property value"},"conclusies":{"type":"string","title":"Conclusies","description":"Property value"},"depublicatiedatum":{"type":"string","format":"date","title":"Depublicatiedatum","description":"Property value"},"functiebenaming":{"type":"string","title":"Functiebenaming","description":"Property value"},"gedraging":{"type":"string","title":"Gedraging","description":"Property value"},"kenmerk":{"type":"string","title":"Kenmerk","description":"Property value"},"onderdeelTaak":{"type":"string","title":"OnderdeelTaak","description":"Property value"},"ontvangstdatum":{"type":"string","format":"date","title":"Ontvangstdatum","description":"Property value"},"oordeel":{"type":"string","title":"Oordeel","description":"Property value"},"opdrachtgever":{"type":"string","title":"Opdrachtgever","description":"Property value"},"organisatieonderdeel":{"type":"string","title":"Organisatieonderdeel","description":"Property value"},"publicatiedatum":{"type":"string","format":"date","title":"Publicatiedatum","description":"Property value"},"samenvatting":{"type":"string","maxLength":255,"title":"Samenvatting","description":"Property value"},"termijnoverschrijding":{"type":"string","description":"Een (evenuteel) overschrijding van het beantwoordings termijn termijn","title":"Termijnoverschrijding"},"thema":{"type":"string","title":"Thema","description":"Property value"},"titel":{"type":"string","format":"text","title":"Titel","description":"Property value"},"tooiCategorieId":{"type":"string","description":"De tooiCategorieId van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"c_3baef532","title":"Categorie ID"},"tooiCategorieNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","const":"Vergaderstukken decentrale overheden","title":"Categorie Naam"},"tooiCategorieUri":{"type":"string","description":"De id van de categorie voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiCategorieId]`","const":"https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/c_3baef532","title":"Categorie URI"},"tooiThemaId":{"type":"string","description":"De id van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema ID"},"tooiThemaNaam":{"type":"string","description":"De naam van de TOOI categorie conform [diwoo metadata lijsten](https:\/\/standaarden.overheid.nl\/diwoo\/metadata\/doc\/0.9.1\/diwoo-metadata-lijsten_xsd_Simple_Type_diwoo_scw_woo_informatiecategorieen)","title":"Thema Naam"},"tooiThemaUri":{"type":"string","description":"De tooiThemaId van het thema voorafgegaan door `https:\/\/identifier.overheid.nl\/tooi\/def\/thes\/kern\/[tooiThemaId]`","title":"Thema URI"},"values":{"type":"array","description":"Binnen KOOP Woo Index kunnen waardes niet uitlijnen op TOOI wel worden meegegeven in key value pair's. Deze zijn vervolgens wel doorzoekbaar maar geen onderdeel van de open.overheid.nl user interface","items":{"type":"object","required":["key","value"],"properties":{"key":{"type":"string","description":"Property value"},"value":{"type":"string","description":"Property value"}},"description":"Property value"},"title":"Values"}}}}},"paths":{"\/objects\/woo\/vergaderstukken_decentrale_overheden":{"get":{"summary":"Get all Vergaderstukken decentrale overheden   objects","operationId":"getAllVergaderstukkenDecentraleOverheden","tags":["Vergaderstukken decentrale overheden  "],"description":"Retrieve a list of all Vergaderstukken decentrale overheden   objects\n\n**Required scopes:** `admin`, `public`","parameters":[{"name":"_extend","in":"query","required":false,"description":"Comma-separated list of properties to extend.","schema":{"type":"string"},"example":"property1,property2,property3"},{"name":"_filter","in":"query","required":false,"description":"Comma-separated list of properties to include in the response. ","schema":{"type":"string"},"example":"id,name,description"},{"name":"_unset","in":"query","required":false,"description":"Comma-separated list of properties to remove from the response.","schema":{"type":"string"},"example":"internalField1,internalField2"},{"name":"_search","in":"query","required":false,"description":"Full-text search query to filter objects in the collection.","schema":{"type":"string"},"example":"search term"},{"name":"attachments","in":"query","required":false,"description":"Filter results by attachments","schema":{"type":"array","items":{"type":"string"}}},{"name":"beschrijving","in":"query","required":false,"description":"Filter results by beschrijving","schema":{"type":"string"}},{"name":"besluitdatum","in":"query","required":false,"description":"Filter results by besluitdatum","schema":{"type":"string"}},{"name":"bevindingen","in":"query","required":false,"description":"Filter results by bevindingen","schema":{"type":"string"}},{"name":"conclusies","in":"query","required":false,"description":"Filter results by conclusies","schema":{"type":"string"}},{"name":"depublicatiedatum","in":"query","required":false,"description":"Filter results by depublicatiedatum","schema":{"type":"string"}},{"name":"functiebenaming","in":"query","required":false,"description":"Filter results by functiebenaming","schema":{"type":"string"}},{"name":"gedraging","in":"query","required":false,"description":"Filter results by gedraging","schema":{"type":"string"}},{"name":"kenmerk","in":"query","required":false,"description":"Filter results by kenmerk","schema":{"type":"string"}},{"name":"onderdeelTaak","in":"query","required":false,"description":"Filter results by onderdeelTaak","schema":{"type":"string"}},{"name":"ontvangstdatum","in":"query","required":false,"description":"Filter results by ontvangstdatum","schema":{"type":"string"}},{"name":"oordeel","in":"query","required":false,"description":"Filter results by oordeel","schema":{"type":"string"}},{"name":"opdrachtgever","in":"query","required":false,"description":"Filter results by opdrachtgever","schema":{"type":"string"}},{"name":"organisatieonderdeel","in":"query","required":false,"description":"Filter results by organisatieonderdeel","schema":{"type":"string"}},{"name":"publicatiedatum","in":"query","required":false,"description":"Filter results by publicatiedatum","schema":{"type":"string"}},{"name":"samenvatting","in":"query","required":false,"description":"Filter results by samenvatting","schema":{"type":"string"}},{"name":"termijnoverschrijding","in":"query","required":false,"description":"Filter results by termijnoverschrijding","schema":{"type":"string"}},{"name":"thema","in":"query","required":false,"description":"Filter results by thema","schema":{"type":"string"}},{"name":"titel","in":"query","required":false,"description":"Filter results by titel","schema":{"type":"string"}},{"name":"tooiCategorieId","in":"query","required":false,"description":"Filter results by tooiCategorieId","schema":{"type":"string"}},{"name":"tooiCategorieNaam","in":"query","required":false,"description":"Filter results by tooiCategorieNaam","schema":{"type":"string"}},{"name":"tooiCategorieUri","in":"query","required":false,"description":"Filter results by tooiCategorieUri","schema":{"type":"string"}},{"name":"tooiThemaId","in":"query","required":false,"description":"Filter results by tooiThemaId","schema":{"type":"string"}},{"name":"tooiThemaNaam","in":"query","required":false,"description":"Filter results by tooiThemaNaam","schema":{"type":"string"}},{"name":"tooiThemaUri","in":"query","required":false,"description":"Filter results by tooiThemaUri","schema":{"type":"string"}},{"name":"values","in":"query","required":false,"description":"Filter results by values","schema":{"type":"array","items":{"type":"string"}}},{"name":"Categorie","in":"query","required":false,"description":"Filter results by Categorie","schema":{"type":"string"}}],"responses":{"200":{"description":"List of Vergaderstukken decentrale overheden   objects with pagination metadata","content":{"application\/json":{"schema":{"allOf":[{"$ref":"#\/components\/schemas\/PaginatedResponse"},{"type":"object","properties":{"results":{"type":"array","items":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}}]}}}},"400":{"description":"Invalid query parameters","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}},"403":{"description":"Forbidden \u2014 user does not have the required group membership for this action","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}}}},"post":{"summary":"Create a new Vergaderstukken decentrale overheden   object","operationId":"createVergaderstukkenDecentraleOverheden","tags":["Vergaderstukken decentrale overheden  "],"description":"Create a new Vergaderstukken decentrale overheden   object with the provided data\n\n**Required scopes:** `admin`","parameters":[{"name":"_extend","in":"query","required":false,"description":"Comma-separated list of properties to extend.","schema":{"type":"string"},"example":"property1,property2,property3"},{"name":"_filter","in":"query","required":false,"description":"Comma-separated list of properties to include in the response. ","schema":{"type":"string"},"example":"id,name,description"},{"name":"_unset","in":"query","required":false,"description":"Comma-separated list of properties to remove from the response.","schema":{"type":"string"},"example":"internalField1,internalField2"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}},"responses":{"201":{"description":"Vergaderstukken decentrale overheden   created successfully.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}},"400":{"description":"Invalid request body","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}},"403":{"description":"Forbidden \u2014 user does not have the required group membership for this action","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}}}}},"\/objects\/woo\/vergaderstukken_decentrale_overheden\/{id}":{"get":{"summary":"Get a Vergaderstukken decentrale overheden   object by ID","operationId":"getVergaderstukkenDecentraleOverheden","tags":["Vergaderstukken decentrale overheden  "],"description":"Retrieve a specific Vergaderstukken decentrale overheden   object by its unique identifier\n\n**Required scopes:** `admin`, `public`","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the Vergaderstukken decentrale overheden   object","schema":{"type":"string","format":"uuid"}},{"name":"_extend","in":"query","required":false,"description":"Comma-separated list of properties to extend.","schema":{"type":"string"},"example":"property1,property2,property3"},{"name":"_filter","in":"query","required":false,"description":"Comma-separated list of properties to include in the response. ","schema":{"type":"string"},"example":"id,name,description"},{"name":"_unset","in":"query","required":false,"description":"Comma-separated list of properties to remove from the response.","schema":{"type":"string"},"example":"internalField1,internalField2"}],"responses":{"200":{"description":"Vergaderstukken decentrale overheden   found.","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}},"404":{"description":"Vergaderstukken decentrale overheden   not found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}},"403":{"description":"Forbidden \u2014 user does not have the required group membership for this action","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}}}},"put":{"summary":"Update a Vergaderstukken decentrale overheden   object","operationId":"updateVergaderstukkenDecentraleOverheden","tags":["Vergaderstukken decentrale overheden  "],"description":"Update an existing Vergaderstukken decentrale overheden   object with the provided data\n\n**Required scopes:** `admin`","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the Vergaderstukken decentrale overheden   object to update","schema":{"type":"string","format":"uuid"}},{"name":"_extend","in":"query","required":false,"description":"Comma-separated list of properties to extend.","schema":{"type":"string"},"example":"property1,property2,property3"},{"name":"_filter","in":"query","required":false,"description":"Comma-separated list of properties to include in the response. ","schema":{"type":"string"},"example":"id,name,description"},{"name":"_unset","in":"query","required":false,"description":"Comma-separated list of properties to remove from the response.","schema":{"type":"string"},"example":"internalField1,internalField2"}],"requestBody":{"required":true,"content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}},"responses":{"200":{"description":"Vergaderstukken decentrale overheden   updated successfully","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Vergaderstukken_decentrale_overheden"}}}},"404":{"description":"Vergaderstukken decentrale overheden   not found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}},"403":{"description":"Forbidden \u2014 user does not have the required group membership for this action","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}}}},"delete":{"summary":"Delete a Vergaderstukken decentrale overheden   object","operationId":"deleteVergaderstukkenDecentraleOverheden","tags":["Vergaderstukken decentrale overheden  "],"description":"Delete a specific Vergaderstukken decentrale overheden   object by its unique identifier\n\n**Required scopes:** `admin`","parameters":[{"name":"id","in":"path","required":true,"description":"Unique identifier of the Vergaderstukken decentrale overheden   object to delete","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"Vergaderstukken decentrale overheden   deleted successfully"},"404":{"description":"Vergaderstukken decentrale overheden   not found","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}},"403":{"description":"Forbidden \u2014 user does not have the required group membership for this action","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/Error"}}}}}}},"\/objects\/woo\/subsidieverplichtingen_anders_dan_met_beschikking":{"get":{"summary":"Get all Subsidieverplichtingen anders dan met beschikking objects","operationId":"getAllSubsidieverplichtingenAndersDanMetBeschikking","tags":["Subsidieverplichtingen anders dan met beschikking"],"description":"Retrieve a list of all Subsidieverplichtingen anders dan met beschikking objects\n\n**Required scopes:** `admin`, `public`","parameters":[{"name":"_extend","in":"query","required":false,"description":"Comma-separated list of properties to extend.","schema":{"type":"string"},"example":"property1,property2,property3"},{"name":"_filter","in":"query","required":false,"description":"Comma-separated list of properties to include in the response. ","schema":{"type":"string"},"example":"id,name,description"},{"name":"_unset","in":"query","required":false,"description":"Comma-separated list of properties to remove from the response.","schema":{"type":"string"},"example":"internalField1,internalField2"},{"name":"_search","in":"query","required":false,"description":"Full-text search query to filter objects in the collection.","schema":{"type":"string"},"example":"search term"},{"name":"attachments","in":"query","required":false,"description":"Filter results by attachments","schema":{"type":"array","items":{"type":"string"}}},{"name":"beschrijving","in":"query","required":false,"description":"Filter results by beschrijving","schema":{"type":"string"}},{"name":"besluitdatum","in":"query","required":false,"description":"Filter results by besluitdatum","schema":{"type":"string"}},{"name":"bevindingen","in":"query","required":false,"description":"Filter results by bevindingen","schema":{"type":"string"}},{"name":"conclusies","in":"query","required":false,"description":"Filter results by conclusies","schema":{"type":"string"}},{"name":"depublicatiedatum","in":"query","required":false,"description":"Filter results by depublicatiedatum","schema":{"type":"string"}},{"name":"functiebenaming","in":"query","required":false,"description":"Filter results by functiebenaming","schema":{"type":"string"}},{"name":"gedraging","in":"query","required":false,"description":"Filter results by gedraging","schema":{"type":"string"}},{"name":"kenmerk","in":"query","required":false,"description":"Filter results by kenmerk","schema":{"type":"string"}},{"name":"onderdeelTaak","in":"query","required":false,"description":"Filter results by onderdeelTaak","schema":{"type":"string"}},{"name":"ontvangstdatum","in":"query","required":false,"description":"Filter results by ontvangstdatum","schema":{"type":"string"}},{"name":"oordeel","in":"query","required":false,"description":"Filter results by oordeel","schema":{"type":"string"}},{"name":"opdrachtgever","in":"query","required":false,"description":"Filter results by opdrachtgever","schema":{"type":"string"}},{"name":"organisatieonderdeel","in":"query","required":false,"description":"Filter results by organisatieonderdeel","schema":{"type":"string"}},{"name":"publicatiedatum","in":"query","required":false,"description":"Filter results by publicatiedatum","schema":{"type":"string"}},{"name":"samenvatting","in":"query","required":false,"description":"Filter results by samenvatting","schema":{"type":"string"}},{"name":"termijnoverschrijding","in":"query","required":false,"description":"Filter results by termijnoverschrijding","schema":{"type":"string"}},{"name":"thema","in":"query","required":false,"description":"Filter results by thema","schema":{"type":"string"}},{"name":"titel","in":"query","required":false,"description":"Filter results by titel","schema":{"type":"string"}},{"name":"tooiCategorieId","in":"query","required":false,"description":"Filter results by tooiCategorieId","schema":{"type":"string"}},{"name":"tooiCategorieNaam","in":"query","required":false,"description":"Filter results by tooiCategorieNaam","schema":{"type":"string"}},{"name":"tooiCategorieUri","in":"query","required":false,"description":"Filter results by tooiCategorieUri","schema":{"type":"string"}},{"name":"tooiThemaId","in":"query","required":false,"description":"Filter results by tooiThemaId","schema":{"type":"string"}},{"name":"tooiThemaNaam","in":"query","required":false,"description":"Filter results by tooiThemaNaam","schema":{"type":"string"}},{"name":"tooiThemaUri","in":"query","required":false,"description":"Filter results by tooiThemaUri","schema":{"type":"string"}},{"name":"values","in":"query","required":false,"description":"Filter results by values","schema":{"type":"array","items":{"type":"string"}}},{"name":"Categorie","in":"query","required":false,"description":"Filter results by Categorie","schema":{"type":"s
[...]
